.header-main-navbar
{
    background-color: black !important; 
     padding-left: 0 100px !important;
   
}

/* @media (min-width: 600px){
.css-hyum1k-MuiToolbar-root {
    min-height: 150px  !important ;
}} */

.syncplay-heading{
    font-size: 30px !important;
    font-family: "Inter", sans-serif !important;
}
/* .nav-items-header{
  
} */

.nav-item-buttons{
    font-size: 20px !important;
    padding: 30px !important;
    line-height: 30px !important;
    font-weight: 500 !important;
}

.login-button{
    background-color: #950101 !important;
    font-size: 20px !important;
    padding-left: 20px !important;
    border-radius: 10px !important;
    padding-right: 20px !important;
}